// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    //background: $bg-color;
    background-color: rgba(25, 22, 26, 0);
    border-radius: 10px;
    margin-top: 8px;
  }

  /* Left */ 

  .cava {
    min-height: 10px;
    padding: 2px 4px;
  }

  .cava-bar {
    min-width: 10px;
    background-color: rgb(232, 157, 149);
    border-radius: 2px;
  }

  .cava {
    margin-right: 20px;
  }

  .ws-btn {
    background: transparent;
    border: none;
    border-radius: 60px;
    padding: 4px;
    min-width: 20px;
    color: rgba(232, 185, 149, 0.4);
  }

  .ws-btn.occupied {
    color: rgb(232, 185, 149);
  }

  .ws-btn.active {
    color: rgba(242, 242, 242, 0.8);
  }

  .rec-indicator {
    opacity: 1;
    padding-left: 12px;
  }

  .rec-indicator.hidden {
   opacity: 0;
    margin-left: 20px;
  }

  /* Center */

  .time {
    color: rgb(161, 255, 218);
  }

  .date {
    color: rgb(161, 255, 218);
  }

  /* Right */

  .volume {
    color: rgb(168, 196, 255);
  }

  .weather {
    color: rgb(168, 177, 255);
  }

  .temperature {
    color: rgb(180, 168, 255);
  }

  .network {
    color: rgb(210, 168, 255);
  }
}

/* General */

.box {
  background-color: rgba(13, 13, 13, 0.6);
  padding: 5px 15px 5px 15px;
}

.rounded {
  border-radius: 8px;
}

/* Boxes */

.left-box {
  margin-left: 15px;
}

.center-box {
  padding-left: 15px;
  padding-right: 15px;
}

.right-box {
  margin-right: 15px;
}
